Repository Jorricks/macos-notifications: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: iSort - Sorts imports.
  description: Sorts your import for you.
  entry: isort
  language: python
  require_serial: true
  additional_dependencies:
  - isort==5.10.1

black:
  name: Black - Auto-formatter.
  description: Black is the uncompromising Python code formatter. Writing to files.
  entry: black
  language: python
  require_serial: true
  additional_dependencies:
  - black==22.6.0

flake8:
  name: Flake8 - Enforce code style and doc.
  description: A command-line utility for enforcing style consistency across Python projects.
  entry: flake8
  args:
  - --config=.flake8
  language: python
  require_serial: true
  additional_dependencies:
  - flake8==4.0.1

mypy:
  name: mypy - Static type checking
  description: Mypy helps ensure that we use our functions and variables correctly by checking the types.
  entry: mypy
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  language: python
  require_serial: true
  additional_dependencies:
  - mypy==0.961

♻️ Improve code quality with pre-commit
  docs/code/listener_process.md
  docs/code/notification_process.md
  examples/multiple_notifications_with_callbacks.py
  examples/notification_with_action.py
  examples/notification_with_reply.py
  examples/notification_with_zoom_action.py
  examples/simple_notification.py
  src/mac_notifications/client.py
  src/mac_notifications/listener_process.py
  src/mac_notifications/manager.py
  src/mac_notifications/notification_config.py
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

📝 Update README.md
  README.md
Due: none

📝 Remove unused README.md
  src/mac_notifications/README.md
Due: none

🔧 Rename project as mac-notifications was taken on pypi
  pyproject.toml
Due: none

🔧 Rename all references of mac-notifications to macos-notifications
  .github/workflows/deploy-pypi.yml
  CONTRIBUTING.md
  README.md
  docs/code/client.md
  docs/index.md
  docs/release-notes.md
  docs/user_guide.md
  mkdocs.yml
  pyproject.toml
Due: none

🔖 Release 0.1.0
  docs/release-notes.md
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

📝 Fix broken image in documentation
  docs/macos-notifications.png
Due: none

🔖 Release 0.1.1
  docs/release-notes.md
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

📝 Update badges
  README.md
  docs/index.md
Due: none

📝 Remove requirements from docs
  README.md
  docs/index.md
Due: none

📝 Documentation update
  README.md
  docs/examples.md
  docs/faq.md
  docs/img/enable-notifications.png
  docs/img/example-run.gif
  docs/img/macos-notifications.png
  docs/index.md
  examples/img/chat.png
  examples/img/zoom.png
  examples/multiple_notifications_with_callbacks.py
  examples/notification_with_action.py
  examples/notification_with_reply.py
Due: black, flake8, mypy

🔖 Release 0.1.2
  docs/release-notes.md
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

📝 Out-dated python example on main page
  README.md
  docs/index.md
Due: none

🔖 Release 0.1.3
  docs/release-notes.md
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

📝 Make pipeline name more generic
  .github/workflows/deploy-pypi.yml
Due: none

🐛 Multiple notifications in the same thread gave exceptions
  docs/code/listener_process.md
  examples/multiple_notifications_with_callbacks.py
  src/mac_notifications/listener_process.py
  src/mac_notifications/manager.py
Due: isort, black, flake8, mypy

🔖 Release 0.1.4
  docs/release-notes.md
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

📝 Python example was missing __name__
  README.md
  docs/index.md
Due: none

🔖 Release 0.1.5
  docs/release-notes.md
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

📌 Bump requirements
  pyproject.toml
Due: none

🚀 Release 0.1.6
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

#14 Cancel notifications feature
  examples/cancel_multiple_notifications.py
  src/mac_notifications/client.py
  src/mac_notifications/manager.py
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

Add missing EOL
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

Fix typing and import styles #14
  examples/cancel_multiple_notifications.py
  src/mac_notifications/manager.py
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

✨ #14 Implement notification cancellation (#15)
  examples/cancel_multiple_notifications.py
  src/mac_notifications/client.py
  src/mac_notifications/manager.py
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

📝 Update documentation
  README.md
  docs/faq.md
Due: none

📝 Update documentation
  README.md
Due: none

🚀 Release 0.2.0
  src/mac_notifications/__init__.py
Due: isort, black, flake8, mypy

MACOS_NOTIFICATIONS_AS_DAEMON constant; don't instantiate SimpleQueue() until needed
  src/mac_notifications/manager.py
  src/mac_notifications/notification_config.py
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

undo unnecessary changes
  src/mac_notifications/manager.py
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

Don't register SIGINT handler when MACOS_NOTIFICATIONS_AS_DAEMON is true
  src/mac_notifications/manager.py
Due: isort, black, flake8, mypy

sound param
  src/mac_notifications/client.py
  src/mac_notifications/notification_config.py
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

Fix
  src/mac_notifications/manager.py
Due: isort, black, flake8, mypy

soundName
  src/mac_notifications/notification_sender.py
Due: isort, black, flake8, mypy

docs
  README.md
  docs/index.md
Due: none

Path conditions:
  isort: any of: \.py$, but not: examples/*
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
